body{
    background-color: #0056b3;
    background:-moz-linear-gradient(45deg, #0056b3 23%, #fefefd 100%) fixed;
    background:-webkit-linear-gradient(45deg, #0056b3 23%,#fefefd 100%) fixed;
}
.formLogin{
    width: 60%;
    margin-top: 10%;
}

.corpo{
    background-color: white;
}
#inputIdProduto{
    display: inline-block;
    width: 170px;
    margin-left: 9.2%;
}
#inputNomeProduto{
    display: inline-block;
    width: 170px;
    margin-left: 6.7%;
}
#inputDescProduto{
    display: inline-block;
    width: 170px;
    margin-left: 4.5%;
}
#botaoSalvar{
    color: #0099ff !important;
    background-color: #ffffff !important;
    border: solid 1px #0099ff !important;
    font-family: Lato !important;
    text-align: center !important;
    border-radius: 4px !important;
    font-weight: normal !important;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    cursor: pointer;
    margin-left: 67.9%;
}
#legenda{
    margin-left: 40%;
}
#selecao{
    display: inline-block;
    width: 170px;
    margin-left: 4.5%;
}
