/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20/11/2018, 14:37:57
    Author     : Rúben França
*/
/*
    @class container cria o container para que seja inserido os dados da div para centralização do conteúdo
*/
.container {
    width: 98vw;
    height: 97vh;
    background: #6C7A89;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/*
    @class box cria uma caixa para inserção dos itens.
*/
.box {
    width: 30%;
    height: 45%;
    background: #fff;
    text-align: center;
}

/*
    @class alinhaConteudo utilizada para alinhar conteúdos no centro.
*/

@font-face{
    font-family: bebas;
    src:url(BEBAS.TTF);
}
@font-face{
    font-family: Millionaire;
    src:url(Millionaire.ttf);
}

#titulo1 {
    text-align: center;
    font-family: Millionaire;
    font-size: 60px;
}

label {
    text-align: center;
    font-family: bebas;
    font-size: 23px;
    margin-top: 5px;
    margin-bottom: 5px;
}
input{
    background-color: #f7f7f7;/*Define cor do fundo*/
    border: solid 2px #d9d9d9; /*Define tamanho e cor da borda*/
    font-family: Lato;/*Define fonte interna*/
    font-size: 17px; /*Define tamanho da fonte interna*/
    color: #4a4a4a; /*Define cor da fonte interna*/
    padding-left: 5px; /*Define distância entre o texto e a borda esquerda*/
    padding-right: 5px; /*Define distância entre o texto e a borda direita*/
    display: block; /*Define que hava uma quebra para o próximo item */
    margin-left: auto;
    margin-right: auto;
    width: 350px; /*Define largura do input*/
    height: 35px; /*Define altura do input*/
    margin-top: 5px;
    margin-bottom: 5px;
}

#botaoLogin{
    margin-top: 20px;
    width: 250px;
    height: 65px;
    background-color: #00cc00; /*Define cor do botão*/
    color: #ffffff; /*Define cor da fonte*/
    font-size: 18px; /*Define tamanho da fonte do texto interno do botão*/
    text-align: center;
    cursor: pointer;
    border: 0px;
    border-radius: 4px;
    font-family: Lato;
    font-weight: bold;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    label{
        font-size: 15px;
    }

    input{
        width: 200px; 
        height: 30px; 
    }

    .box {
        width: 50%;
        height: 47%;
        background: black;
    }

    #botaoLogin {
        width: 180px;
        height: 50px;
        font-size: 15px;
    }
    
    #titulo1 {
        font-size: 40px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px){
    
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px){
    
}
/* Extra large devices (large laptops and desktops, 1366px and up) */
@media only screen and (max-width: 1366px) {
    label{
        font-size: 15px;
    }

    input{
        width: 250px; 
        height: 30px; 
    }

    .box {
        width: 30%;
        height: 50%;
        background: blueviolet;
    }

    #botaoLogin {
        width: 180px;
        height: 50px;
        font-size: 15px;
    }
    
    #titulo1 {
        font-size: 250%;
    }
}