/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20/11/2018, 14:37:57
    Author     : Usuário
*/
#fundoDoLogin{
    background-color: white;
}
#idLogin{
    background-color: #f7f7f7;
    border: solid 1px #d9d9d9;
    font-family: Lato;
    font-size: 17px;
    font-weight: 400;
    color: #4a4a4a;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 10;
    overflow: hidden;
    left: 0px;
    top: 10px;
    width: 200px;
    height: 40px;
    margin-left: 5px; 


}
#idSenha{

    z-index: 10;
    left: 0px;
    top: 0px;
    width: 200px;
    height: 40px;
    background-color: #f7f7f7;
    border: solid 1px #d9d9d9;
    font-family: Lato;
    font-size: 17px;
    font-weight: 500;
    color: #4a4a4a;
    padding-left: 10px;
    padding-right: 10px;

}
#labelId{

    z-index: 10;
    overflow: hidden;
    font-family: Lato !important;
    font-size: 15px !important;
    font-weight: bold !important;
    line-height: 1.2 !important;
    color: rgb(102, 102, 102) !important;
    left: 0px;
    top: 0px;
    width: 38px;
    height: 18px;
}
#labelSenha{
    z-index: 10;
    overflow: hidden;
    font-family: Lato !important;
    font-size: 15px !important;
    font-weight: bold !important;
    line-height: 1.2 !important;
    color: rgb(102, 102, 102) !important;
    left: 0px;
    top: 0px;
    width: 38px;
    height: 18px;

}
#fundoDoLogin{

    z-index: 10;
    overflow: hidden;
    left: 0px;
    top: 0px;
    width: 380px;
    height: 551px;
    margin-left: 40%;
}
#botaoLogin{
    margin-left: 20%;
    z-index: 10;
    overflow: hidden;
    left: 0px;
    top: 0px;
    width: 220px;
    height: 50px;
    background-color: #26a8ff;
    color: #ffffff; 
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    border-radius: 100px;
    font-size: 18px;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 0px;
    border-radius: 4px;
    padding: 0px;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: Lato;
    font-weight: bold;
}
