<%@page contentType="text/html" pageEncoding="UTF-8"%>
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/login.css">
        <title>sisCar - Login</title>
        
    </head>
    <body>
        <div class="container formLogin">
            <%
                if(request.getAttribute("msg") != null){
                    
            %>
                <script>alert('<%= request.getAttribute("msg") %>');</script>
            <%        
                }
            %>        
            
            <form method="POST" action="login">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                  </div>
                  <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>    
    </body>
    <script src="js/jquery.js"> </script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
</html>